{% extends "base.twig" %}

{% block content %}
<div>
    <h1>{{ data.node.fields.name }}</h1>
    <p>{{ data.fields.description | default("") }}</p>
    <div class="row data.node.products">
        {% for product in data.node.products.elements %}
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>
                        <a href="{{ product.path }}">{{ product.fields.name | default('Unknown') }}</a>
                        <small>{{ product.fields.SKU | default(0) }}</small>
                    </h3>

                    <a href="{{ product.path }}">
                        <img style="height: 200px; width: 100%;" src="{{ product.fields.image.path | default("http://via.placeholder.com/350x200") }}" class="img-thumbnail">
                    </a>

                    <p>{{ product.fields.description | default("-") }}</p>

                    <hr>

                    <div class="row">
                        <div class="col-xs-6">
                        <!--| number: 2 -->
                            <h3 style="margin: 5px 0;"><span class="label label-primary">€{{ product.fields.price |default(0) }}</span></h3>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="label label-default">Weight: {{ product.fields.weight| default(0) }}</span><br>
                            <span class="label label-default">Stock: {{ product.fields.stocklevel | default(0) }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
